<%- include("../partials/header") %>

<div class="container" style="background-color:bisque ;">
  <div class="jumbotron text-light my-4 my-lg-5 py-3 " style="background-color: bisque; ">
    <h3 style="color: black;">Welcome to Express Store</h3>
  </div>
  <div class="row">
    <div class="card ml-5" style="width: 20rem">
      <img
        class="card-img-top"
        src="https://i.gadgets360cdn.com/products/large/motorola-edge-30-pro-657x800-1645713862.jpg?downsize=*:180"
        alt="Card image cap"
        height="300px"
      />
      <div class="card-body">
        <h5 class="card-title">Mobiles</h5>
        <p class="card-text">
          Show off with a brand new phone from trusted brands
        </p>
        <a href="/home/mobile" class="btn" style="background-color:lightseagreen ;">Check Here</a>
      </div>
    </div>
    <div class="card ml-5" style="width: 20rem">
      <img
        class="card-img-top"
        src="https://media.istockphoto.com/photos/women-clothes-hanging-on-hangers-clothing-rails-fashion-design-picture-id916092484?k=20&m=916092484&s=612x612&w=0&h=2aTLAucj_-qbbfhBiJEXfdiY3-k0gx0el8OrKFpi3O8="
        alt="Card image cap"
        height="300px"
      />
      <div class="card-body">
        <h5 class="card-title">Clothes</h5>
        <p class="card-text">
          Get exciting offers on the casual and formal sections
        </p>
        <a href="/home/clothes"class="btn" style="background-color:lightseagreen ;">Check Here</a>
      </div>
    </div>
    <div class="card ml-5" style="width: 20rem">
      <img
        class="card-img-top"
        src="https://cdn.images.express.co.uk/img/dynamic/109/590x/STATIONARY-664578.jpg"
        alt="Card image cap"
        height="300px"
      />
      <div class="card-body">
        <h5 class="card-title">Stationary</h5>
        <p class="card-text">
          Gift your children with quality products from our Staionary
        </p>
        <a href="/home/stationary" class="btn" style="background-color:lightseagreen ;">Check Here</a>
      </div>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>
